
.e1_2 { 
	background-color:rgba(169.00000512599945, 95.00000193715096, 23.000000528991222, 1);
	width:1500px;
	height:6444px;
	position:absolute;
}
.e12_116 { 
	background-color:rgba(255, 183.00000429153442, 111.00000098347664, 1);
	width:1412px;
	height:6360px;
	position:absolute;
	left:42px;
	top:36px;
}
.e3_15 { 
	width:474px;
	height:351px;
	position:absolute;
	left:928px;
	top:690px;
	background-image:url(images/rectangle_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e11_4 { 
	color:rgba(0, 0, 0, 1);
	width:717px;
	height:287px;
	position:absolute;
	left:119px;
	top:754px;
	font-family:PT Serif;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e11_57 { 
	color:rgba(0, 0, 0, 1);
	width:773px;
	height:128px;
	position:absolute;
	left:117px;
	top:1041px;
	font-family:PT Serif;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e11_77 { 
	color:rgba(0, 0, 0, 1);
	width:667px;
	height:224px;
	position:absolute;
	left:117px;
	top:1418px;
	font-family:PT Serif;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e12_112 { 
	color:rgba(0, 0, 0, 1);
	width:665px;
	height:256px;
	position:absolute;
	left:119px;
	top:1715px;
	font-family:PT Serif;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e12_118 { 
	color:rgba(0, 0, 0, 1);
	width:545px;
	height:256px;
	position:absolute;
	left:876px;
	top:2320px;
	font-family:PT Serif;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e11_109 { 
	color:rgba(0, 0, 0, 1);
	width:1210px;
	height:160px;
	position:absolute;
	left:132px;
	top:2680px;
	font-family:PT Serif;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e11_2 { 
	color:rgba(0, 0, 0, 1);
	width:764px;
	height:85px;
	position:absolute;
	left:117px;
	top:623px;
	font-family:PT Serif;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}
.e11_76 { 
	color:rgba(0, 0, 0, 1);
	width:383px;
	height:85px;
	position:absolute;
	left:116px;
	top:1285px;
	font-family:PT Serif;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}
.e12_117 { 
	color:rgba(0, 0, 0, 1);
	width:158px;
	height:64px;
	position:absolute;
	left:1058px;
	top:2183px;
	font-family:PT Serif;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e18_3 { 
	color:rgba(0, 0, 0, 1);
	width:312px;
	height:64px;
	position:absolute;
	left:132px;
	top:3503px;
	font-family:PT Serif;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e19_14 { 
	color:rgba(0, 0, 0, 1);
	width:395px;
	height:64px;
	position:absolute;
	left:132px;
	top:4053px;
	font-family:PT Serif;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e19_16 { 
	color:rgba(0, 0, 0, 1);
	width:201px;
	height:85px;
	position:absolute;
	left:124px;
	top:4517px;
	font-family:PT Serif;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}
.e19_58 { 
	color:rgba(0, 0, 0, 1);
	width:306px;
	height:64px;
	position:absolute;
	left:129px;
	top:5133px;
	font-family:PT Serif;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e19_96 { 
	color:rgba(0, 0, 0, 1);
	width:337px;
	height:64px;
	position:absolute;
	left:136px;
	top:5510px;
	font-family:PT Serif;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e19_116 { 
	color:rgba(0, 0, 0, 1);
	width:336px;
	height:64px;
	position:absolute;
	left:137px;
	top:5919px;
	font-family:PT Serif;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e2_14 { 
	width:1248px;
	height:408px;
	position:absolute;
	left:126px;
	top:104px;
	background-image:url(images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e3_16 { 
	background-color:rgb(255, 183, 111);
	width:279px;
	height:64px;
	position:absolute;
	left:168px;
	top:417px;
	border-top-left-radius:38px;
	border-top-right-radius:38px;
	border-bottom-left-radius:38px;
	border-bottom-right-radius:38px;
}
.e19_125 { 
	background-color:rgb(255, 183, 111);
	width:279px;
	height:64px;
	position:absolute;
	left:1072px;
	top:417px;
	border-top-left-radius:38px;
	border-top-right-radius:38px;
	border-bottom-left-radius:38px;
	border-bottom-right-radius:38px;
}
.e3_17 { 
	color:rgba(255, 182.00000435113907, 111.00000098347664, 1);
	width:156px;
	height:59px;
	position:absolute;
	left:243px;
	top:420px;
	font-family:PT Serif;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}


.e3_19 { 
	color:rgba(255, 182.00000435113907, 111.00000098347664, 1);
	width:118px;
	height:53px;
	position:absolute;
	left:1153px;
	top:423px;
	font-family:PT Serif;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e11_56 { 
	color:rgba(31.94536082446575, 30.080614686012268, 30.080614686012268, 1);
	width:341px;
	height:130px;
	position:absolute;
	left:1027px;
	top:1060px;
	font-family:PT Serif;
	text-align:right;
	font-size:16px;
	letter-spacing:0;
}
.e11_103 { 
	color:rgba(31.94536082446575, 30.080614686012268, 30.080614686012268, 1);
	width:643px;
	height:130px;
	position:absolute;
	left:727px;
	top:1835px;
	font-family:PT Serif;
	text-align:right;
	font-size:16px;
	letter-spacing:0;
}
.e12_113 { 
	color:rgba(31.94536082446575, 30.080614686012268, 30.080614686012268, 1);
	width:643px;
	height:130px;
	position:absolute;
	left:165px;
	top:2607px;
	font-family:PT Serif;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e12_121 { 
	color:rgba(31.94536082446575, 30.080614686012268, 30.080614686012268, 1);
	width:281px;
	height:72px;
	position:absolute;
	left:165px;
	top:3388px;
	font-family:PT Serif;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e18_7 { 
	color:rgba(31.94536082446575, 30.080614686012268, 30.080614686012268, 1);
	width:377px;
	height:91px;
	position:absolute;
	left:1003px;
	top:4012px;
	font-family:PT Serif;
	text-align:right;
	font-size:16px;
	letter-spacing:0;
}
.e19_57 { 
	color:rgba(31.94536082446575, 30.080614686012268, 30.080614686012268, 1);
	width:502px;
	height:72px;
	position:absolute;
	left:839px;
	top:5087px;
	font-family:PT Serif;
	text-align:right;
	font-size:16px;
	letter-spacing:0;
}
.e11_102 { 
	width:618px;
	height:412px;
	position:absolute;
	left:817px;
	top:1406px;
	background-image:url(images/image_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e11_111 { 
	width:710px;
	height:399px;
	position:absolute;
	left:132px;
	top:2199px;
	background-image:url(images/image_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e12_120 { 
	width:665px;
	height:490px;
	position:absolute;
	left:132px;
	top:2885px;
	background-image:url(images/image_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e17_2 { 
	color:rgba(0, 0, 0, 1);
	width:564px;
	height:384px;
	position:absolute;
	left:847px;
	top:2903px;
	font-family:PT Serif;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e18_4 { 
	color:rgba(0, 0, 0, 1);
	width:628px;
	height:160px;
	position:absolute;
	left:132px;
	top:3651px;
	font-family:PT Serif;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e19_15 { 
	color:rgba(0, 0, 0, 1);
	width:1279px;
	height:192px;
	position:absolute;
	left:132px;
	top:4170px;
	font-family:PT Serif;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e19_17 { 
	color:rgba(0, 0, 0, 1);
	width:626px;
	height:352px;
	position:absolute;
	left:124px;
	top:4669px;
	font-family:PT Serif;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e19_59 { 
	color:rgba(0, 0, 0, 1);
	width:1239px;
	height:192px;
	position:absolute;
	left:136px;
	top:5248px;
	font-family:PT Serif;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e19_97 { 
	color:rgba(0, 0, 0, 1);
	width:1239px;
	height:224px;
	position:absolute;
	left:130px;
	top:5625px;
	font-family:PT Serif;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e19_117 { 
	color:rgba(0, 0, 0, 1);
	width:1239px;
	height:160px;
	position:absolute;
	left:124px;
	top:6034px;
	font-family:PT Serif;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e18_6 { 
	width:621px;
	height:465px;
	position:absolute;
	left:790px;
	top:3535px;
	background-image:url(images/image_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e19_56 { 
	width:620px;
	height:468px;
	position:absolute;
	left:791px;
	top:4602px;
	background-image:url(images/image_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}

.e11_577 { 
	color:rgba(0, 0, 0, 1);
	width:336px;
	height:64px;
	position:absolute;
	left:137px;
	top: 6244px;
	font-family:PT Serif;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}

.e19_127 { 
	background-color:rgba(169.00000512599945, 95.00000193715096, 23.000000528991222, 1);
	width:1500px;
	height:10220px;
	position:absolute;
}
.e19_128 { 
	background-color:rgba(255, 183.00000429153442, 111.00000098347664, 1);
	width:1412px;
	height:10162px;
	position:absolute;
	left:44px;
	top:30px;
}

.e25_129 { 
	color:rgba(0, 0, 0, 1);
	width:189px;
	height:85px;
	position:absolute;
	left:116px;
	top:544px;
	font-family:PT Serif;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}
.e25_181 { 
	color:rgba(0, 0, 0, 1);
	width:439px;
	height:85px;
	position:absolute;
	left:116px;
	top:2454px;
	font-family:PT Serif;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}
.e25_182 { 
	color:rgba(0, 0, 0, 1);
	width:357px;
	height:85px;
	position:absolute;
	left:891px;
	top:4415px;
	font-family:PT Serif;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}
.e25_197 { 
	color:rgba(0, 0, 0, 1);
	width:388px;
	height:85px;
	position:absolute;
	left:118px;
	top:6186px;
	font-family:PT Serif;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}
.e25_130 { 
	color:rgba(0, 0, 0, 1);
	width:717px;
	height:287px;
	position:absolute;
	left:116px;
	top:666px;
	font-family:PT Serif;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e25_151 { 
	color:rgba(0, 0, 0, 1);
	width:719px;
	height:287px;
	position:absolute;
	left:709px;
	top:1141px;
	font-family:PT Serif;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e25_157 { 
	color:rgba(0, 0, 0, 1);
	width:1268px;
	height:146px;
	position:absolute;
	left:116px;
	top:1528px;
	font-family:PT Serif;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e25_158 { 
	color:rgba(0, 0, 0, 1);
	width:1268px;
	height:226px;
	position:absolute;
	left:116px;
	top:1716px;
	font-family:PT Serif;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e25_167 { 
	color:rgba(0, 0, 0, 1);
	width:568px;
	height:226px;
	position:absolute;
	left:116px;
	top:2615px;
	font-family:PT Serif;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e25_173 { 
	color:rgba(0, 0, 0, 1);
	width:568px;
	height:383px;
	position:absolute;
	left:116px;
	top:3231px;
	font-family:PT Serif;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e25_176 { 
	color:rgba(0, 0, 0, 1);
	width:568px;
	height:461px;
	position:absolute;
	left:116px;
	top:3687px;
	font-family:PT Serif;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e25_183 { 
	color:rgba(0, 0, 0, 1);
	width:568px;
	height:257px;
	position:absolute;
	left:824px;
	top:4537px;
	font-family:PT Serif;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e25_189 { 
	color:rgba(0, 0, 0, 1);
	width:568px;
	height:257px;
	position:absolute;
	left:821px;
	top:5257px;
	font-family:PT Serif;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e25_200 { 
	color:rgba(0, 0, 0, 1);
	width:610px;
	height:395px;
	position:absolute;
	left:114px;
	top:6319px;
	font-family:PT Serif;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e25_202 { 
	color:rgba(0, 0, 0, 1);
	width:568px;
	height:395px;
	position:absolute;
	left:114px;
	top:6977px;
	font-family:PT Serif;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e25_207 { 
	color:rgba(0, 0, 0, 1);
	width:614px;
	height:395px;
	position:absolute;
	left:110px;
	top:7389px;
	font-family:PT Serif;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e25_216 { 
	color:rgba(0, 0, 0, 1);
	width:670px;
	height:446px;
	position:absolute;
	left:752px;
	top:8133px;
	font-family:PT Serif;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e25_221 { 
	color:rgba(0, 0, 0, 1);
	width:670px;
	height:353px;
	position:absolute;
	left:760px;
	top:8767px;
	font-family:PT Serif;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e29_226 { 
	color:rgba(0, 0, 0, 1);
	width:729px;
	height:434px;
	position:absolute;
	left:687px;
	top:9597px;
	font-family:PT Serif;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e29_225 { 
	color:rgba(0, 0, 0, 1);
	width:1320px;
	height:353px;
	position:absolute;
	left:110px;
	top:9219px;
	font-family:PT Serif;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e25_193 { 
	color:rgba(0, 0, 0, 1);
	width:677px;
	height:257px;
	position:absolute;
	left:692px;
	top:5728px;
	font-family:PT Serif;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e25_187 { 
	color:rgba(0, 0, 0, 1);
	width:568px;
	height:158px;
	position:absolute;
	left:824px;
	top:4842px;
	font-family:PT Serif;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e25_171 { 
	color:rgba(0, 0, 0, 1);
	width:568px;
	height:157px;
	position:absolute;
	left:116px;
	top:2879px;
	font-family:PT Serif;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e25_131 { 
	color:rgba(31.94536082446575, 30.080614686012268, 30.080614686012268, 1);
	width:341px;
	height:32px;
	position:absolute;
	left:-99px;
	top:1454px;
	font-family:PT Serif;
	text-align:right;
	font-size:16px;
	letter-spacing:0;
}
.e25_170 { 
	color:rgba(31.94536082446575, 30.080614686012268, 30.080614686012268, 1);
	width:378px;
	height:32px;
	position:absolute;
	left:961px;
	top:2919px;
	font-family:PT Serif;
	text-align:right;
	font-size:16px;
	letter-spacing:0;
}
.e25_179 { 
	color:rgba(31.94536082446575, 30.080614686012268, 30.080614686012268, 1);
	width:378px;
	height:32px;
	position:absolute;
	left:989px;
	top:3597px;
	font-family:PT Serif;
	text-align:right;
	font-size:16px;
	letter-spacing:0;
}
.e25_180 { 
	color:rgba(31.94536082446575, 30.080614686012268, 30.080614686012268, 1);
	width:378px;
	height:32px;
	position:absolute;
	left:889px;
	top:4179px;
	font-family:PT Serif;
	text-align:right;
	font-size:16px;
	letter-spacing:0;
}
.e25_186 { 
	color:rgba(31.94536082446575, 30.080614686012268, 30.080614686012268, 1);
	width:378px;
	height:48px;
	position:absolute;
	left:126px;
	top:4915px;
	font-family:PT Serif;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e25_192 { 
	color:rgba(31.94536082446575, 30.080614686012268, 30.080614686012268, 1);
	width:378px;
	height:48px;
	position:absolute;
	left:126px;
	top:5623px;
	font-family:PT Serif;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e25_196 { 
	color:rgba(31.94536082446575, 30.080614686012268, 30.080614686012268, 1);
	width:378px;
	height:48px;
	position:absolute;
	left:151px;
	top:6074px;
	font-family:PT Serif;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e25_201 { 
	color:rgba(31.94536082446575, 30.080614686012268, 30.080614686012268, 1);
	width:378px;
	height:48px;
	position:absolute;
	left:977px;
	top:6690px;
	font-family:PT Serif;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e25_206 { 
	color:rgba(31.94536082446575, 30.080614686012268, 30.080614686012268, 1);
	width:378px;
	height:48px;
	position:absolute;
	left:893px;
	top:7324px;
	font-family:PT Serif;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e25_210 { 
	color:rgba(31.94536082446575, 30.080614686012268, 30.080614686012268, 1);
	width:378px;
	height:48px;
	position:absolute;
	left:1001px;
	top:7876px;
	font-family:PT Serif;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e25_219 { 
	color:rgba(31.94536082446575, 30.080614686012268, 30.080614686012268, 1);
	width:378px;
	height:48px;
	position:absolute;
	left:110px;
	top:8542px;
	font-family:PT Serif;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e29_224 { 
	color:rgba(31.94536082446575, 30.080614686012268, 30.080614686012268, 1);
	width:378px;
	height:48px;
	position:absolute;
	left:110px;
	top:9148px;
	font-family:PT Serif;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e29_229 { 
	color:rgba(31.94536082446575, 30.080614686012268, 30.080614686012268, 1);
	width:378px;
	height:48px;
	position:absolute;
	left:150px;
	top:10026px;
	font-family:PT Serif;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e25_156 { 
	color:rgba(31.94536082446575, 30.080614686012268, 30.080614686012268, 1);
	width:341px;
	height:32px;
	position:absolute;
	left:978px;
	top:1090px;
	font-family:PT Serif;
	text-align:right;
	font-size:16px;
	letter-spacing:0;
}
.e46_4 { 
	width:1248px;
	height:408px;
	position:absolute;
	left:126px;
	top:94px;
}
.e25_133 {
	position: absolute;
	width: 1248px;
	height: 408px;
	left:126px;
	top:94px;
	background: url("../images/image_1.png");
	background-repeat:no-repeat;
	background-size:cover;
	
}



.e25_134 { 
	background-color:rgba(255, 183.00000429153442, 111.00000098347664, 1);
	width:279px;
	height:64px;
	position:absolute;
	left:196px;
	top:395px;
	border-top-left-radius:38px;
	border-top-right-radius:38px;
	border-bottom-left-radius:38px;
	border-bottom-right-radius:38px;
}
.e25_135 { 
	background-color:rgba(255, 183.00000429153442, 111.00000098347664, 1);
	width:279px;
	height:64px;
	position:absolute;
	left:1046px;
	top:395px;
	border-top-left-radius:38px;
	border-top-right-radius:38px;
	border-bottom-left-radius:38px;
	border-bottom-right-radius:38px;
}

.e25_136 { 
	background-color:rgba(255, 183.00000429153442, 111.00000098347664, 1);
	width:400px;
	height:64px;
	position:absolute;
	left:560px;
	top:395px;
	border-top-left-radius:38px;
	border-top-right-radius:38px;
	border-bottom-left-radius:38px;
	border-bottom-right-radius:38px;
}

.e11_5773 { 
	color:rgba(0, 0, 0, 1);
	position:absolute;
	width:350px;
	height:59px;
	left:600px;
	top:410px;
	font-family:PT Serif;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}


.e25_138 { 
	color:rgba(255, 182.00000435113907, 111.00000098347664, 1);
	width:156px;
	height:59px;
	position:absolute;
	left:277px;
	top:404px;
	font-family:PT Serif;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e25_139 { 
	color:rgba(255, 182.00000435113907, 111.00000098347664, 1);
	width:118px;
	height:53px;
	position:absolute;
	left:1127px;
	top:395px;
	font-family:PT Serif;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e25_153 { 
	width:577px;
	height:433px;
	position:absolute;
	left:100px;
	top:995px;
	background-image:url(images/image_8.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e25_155 { 
	width:471px;
	height:471px;
	position:absolute;
	left:913px;
	top:600px;
	background-image:url(images/image_9.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e25_214 { 
	width:1250px;
	height:503px;
	position:absolute;
	left:139px;
	top:1934px;
	background-image:url(images/hfaysad_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e46_19 { 
	width:356px;
	height:435px;
	position:absolute;
	left:618px;
	top:1968px;
}
.e25_159 { 
	background-color:rgba(255, 183.00000429153442, 111.00000098347664, 0.6000000238418579);
	width:356px;
	height:435px;
	position:absolute;
	left:0px;
	top:0px;
}

.e25_160 { 
	color:rgba(0, 0, 0, 1);
	width:206px;
	height:34px;
	position:absolute;
	left:94px;
	top:55px;
	font-family:PT Serif;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e25_161 { 
	color:rgba(0, 0, 0, 1);
	width:276px;
	height:35px;
	position:absolute;
	left:52px;
	top:121px;
	font-family:PT Serif;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e25_162 { 
	color:rgba(0, 0, 0, 1);
	width:255px;
	height:34px;
	position:absolute;
	left:64px;
	top:170px;
	font-family:PT Serif;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e25_163 { 
	color:rgba(0, 0, 0, 1);
	width:286px;
	height:34px;
	position:absolute;
	left:64px;
	top:218px;
	font-family:PT Serif;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e25_164 { 
	color:rgba(0, 0, 0, 1);
	width:264px;
	height:35px;
	position:absolute;
	left:64px;
	top:266px;
	font-family:PT Serif;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e25_172 { 
	color:rgba(0, 0, 0, 1);
	width:359px;
	height:64px;
	position:absolute;
	left:116px;
	top:3112px;
	font-family:PT Serif;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e25_188 { 
	color:rgba(0, 0, 0, 1);
	width:359px;
	height:64px;
	position:absolute;
	left:889px;
	top:5070px;
	font-family:PT Serif;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e25_205 { 
	color:rgba(0, 0, 0, 1);
	width:359px;
	height:64px;
	position:absolute;
	left:189px;
	top:6814px;
	font-family:PT Serif;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e25_220 { 
	color:rgba(0, 0, 0, 1);
	width:359px;
	height:64px;
	position:absolute;
	left:884px;
	top:8631px;
	font-family:PT Serif;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e25_169 { 
	width:707px;
	height:398px;
	position:absolute;
	left:716px;
	top:2506px;
	background-image:url(images/image_10.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e25_175 { 
	width:639px;
	height:360px;
	position:absolute;
	left:750px;
	top:3216px;
	background-image:url(images/image_11.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e25_178 { 
	width:640px;
	height:480px;
	position:absolute;
	left:749px;
	top:3678px;
	background-image:url(images/image_12.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e25_185 { 
	width:664px;
	height:374px;
	position:absolute;
	left:86px;
	top:4521px;
	background-image:url(images/image_13.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e25_191 { 
	width:664px;
	height:416px;
	position:absolute;
	left:86px;
	top:5189px;
	background-image:url(images/image_14.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e25_195 { 
	width:486px;
	height:367px;
	position:absolute;
	left:86px;
	top:5689px;
	background-image:url(images/image_15.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e25_199 { 
	width:640px;
	height:480px;
	position:absolute;
	left:767px;
	top:6192px;
	background-image:url(images/image_16.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e25_204 { 
	width:640px;
	height:360px;
	position:absolute;
	left:767px;
	top:6950px;
	background-image:url(images/image_17.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e25_209 { 
	width:640px;
	height:480px;
	position:absolute;
	left:767px;
	top:7382px;
	background-image:url(images/image_18.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e25_215 { 
	color:rgba(0, 0, 0, 1);
	width:341px;
	height:85px;
	position:absolute;
	left:893px;
	top:7996px;
	font-family:PT Serif;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}
.e25_218 { 
	width:634px;
	height:392px;
	position:absolute;
	left:90px;
	top:8122px;
	background-image:url(images/image_19.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e29_223 { 
	width:638px;
	height:359px;
	position:absolute;
	left:86px;
	top:8761px;
	background-image:url(images/image_20.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e29_228 { 
	width:552px;
	height:414px;
	position:absolute;
	left:86px;
	top:9592px;
	background-image:url(images/image_21.png);
	background-repeat:no-repeat;
	background-size:cover;
}



.e11_5771 { 
	color:rgba(0, 0, 0, 1);
	width:336px;
	height:64px;
	position:absolute;
	left:137px;
	top: 10100px;
	font-family:PT Serif;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}

.e11_5772 { 
	color:rgba(0, 0, 0, 1);
	width:336px;
	height:64px;
	position:absolute;
	left:137px;
	top: 3500px;
	font-family:PT Serif;
	text-align:left;
	font-size:24px;
	letter-spacing:0;

	
}

.e48_59 { 
	background-color:rgba(255, 183.00000429153442, 111.00000098347664, 1);
	width:400px;
	height:64px;
	position:absolute;
	left:560px;
	top:395px;
	border-top-left-radius:38px;
	border-top-right-radius:38px;
	border-bottom-left-radius:38px;
	border-bottom-right-radius:38px;
	z-index: 2;
}





.e11_5774 { 
	color:rgba(0, 0, 0, 1);
	position:absolute;
	width:350px;
	height:59px;
	left:600px;
	top:410px;
	font-family:PT Serif;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
	z-index: 5;
}



.e44_2 { 
	background-color:rgba(169.00000512599945, 95.00000193715096, 23.000000528991222, 1);
	width:1500px;
	height:3772px;
	position:absolute;
}

.e45_3 { 
	background-color:rgba(255, 183.00000429153442, 111.00000098347664, 1);
	width:1412px;
	height:3714px;
	position:absolute;
	left:44px;
	top:30px;
}
.e46_15 { 
	color:rgba(0, 0, 0, 1);
	width:197px;
	height:85px;
	position:absolute;
	left:154px;
	top:564px;
	font-family:PT Serif;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}
.e46_16 { 
	color:rgba(0, 0, 0, 1);
	width:681px;
	height:136px;
	position:absolute;
	left:131px;
	top:703px;
	font-family:PT Serif;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e48_32 { 
	color:rgba(0, 0, 0, 1);
	width:1248px;
	height:136px;
	position:absolute;
	left:126px;
	top:1343px;
	font-family:PT Serif;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e48_34 { 
	color:rgba(0, 0, 0, 1);
	width:729px;
	height:295px;
	position:absolute;
	left:683px;
	top:1524px;
	font-family:PT Serif;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e48_35 { 
	color:rgba(0, 0, 0, 1);
	width:681px;
	height:389px;
	position:absolute;
	left:126px;
	top:2033px;
	font-family:PT Serif;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e48_42 { 
	color:rgba(0, 0, 0, 1);
	width:724px;
	height:264px;
	position:absolute;
	left:683px;
	top:2598px;
	font-family:PT Serif;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e48_47 { 
	color:rgba(0, 0, 0, 1);
	width:724px;
	height:361px;
	position:absolute;
	left:83px;
	top:3117px;
	font-family:PT Serif;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e46_17 { 
	color:rgba(31.94536082446575, 30.080614686012268, 30.080614686012268, 1);
	width:341px;
	height:32px;
	position:absolute;
	left:1015px;
	top:1007px;
	font-family:PT Serif;
	text-align:right;
	font-size:16px;
	letter-spacing:0;
}
.e48_31 { 
	color:rgba(31.94536082446575, 30.080614686012268, 30.080614686012268, 1);
	width:341px;
	height:32px;
	position:absolute;
	left:169px;
	top:1855px;
	font-family:PT Serif;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e48_38 { 
	color:rgba(31.94536082446575, 30.080614686012268, 30.080614686012268, 1);
	width:341px;
	height:32px;
	position:absolute;
	left:1071px;
	top:2406px;
	font-family:PT Serif;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e48_43 { 
	color:rgba(31.94536082446575, 30.080614686012268, 30.080614686012268, 1);
	width:341px;
	height:32px;
	position:absolute;
	left:169px;
	top:2951px;
	font-family:PT Serif;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e48_48 { 
	color:rgba(31.94536082446575, 30.080614686012268, 30.080614686012268, 1);
	width:341px;
	height:32px;
	position:absolute;
	left:1159px;
	top:3539px;
	font-family:PT Serif;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e46_18 { 
	color:rgba(0, 0, 0, 1);
	width:272px;
	height:64px;
	position:absolute;
	left:154px;
	top:1258px;
	font-family:PT Serif;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e48_28 { 
	color:rgba(0, 0, 0, 1);
	width:334px;
	height:64px;
	position:absolute;
	left:156px;
	top:1944px;
	font-family:PT Serif;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e48_39 { 
	color:rgba(0, 0, 0, 1);
	width:262px;
	height:64px;
	position:absolute;
	left:156px;
	top:2467px;
	font-family:PT Serif;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e48_44 { 
	color:rgba(0, 0, 0, 1);
	width:513px;
	height:64px;
	position:absolute;
	left:156px;
	top:3018px;
	font-family:PT Serif;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e48_27 { 
	width:456px;
	height:321px;
	position:absolute;
	left:126px;
	top:862px;
}
.e46_20 { 
	width:456px;
	height:321px;
	position:absolute;
	left:0px;
	top:0px;
}
.e46_21 { 
	background-color:rgba(255, 183.00000429153442, 111.00000098347664, 0.6000000238418579);
	width:456px;
	height:321px;
	position:absolute;
	left:0px;
	top:0px;
}

.e46_22 { 
	color:rgba(0, 0, 0, 1);
	width:206px;
	height:34px;
	position:absolute;
	left:158px;
	top:37px;
	font-family:PT Serif;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e46_23 { 
	color:rgba(0, 0, 0, 1);
	width:276px;
	height:35px;
	position:absolute;
	left:62px;
	top:83px;
	font-family:PT Serif;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e46_24 { 
	color:rgba(0, 0, 0, 1);
	width:255px;
	height:34px;
	position:absolute;
	left:74px;
	top:132px;
	font-family:PT Serif;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e46_25 { 
	color:rgba(0, 0, 0, 1);
	width:286px;
	height:34px;
	position:absolute;
	left:74px;
	top:180px;
	font-family:PT Serif;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e46_26 { 
	color:rgba(0, 0, 0, 1);
	width:362px;
	height:35px;
	position:absolute;
	left:74px;
	top:228px;
	font-family:PT Serif;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e48_30 { 
	width:518px;
	height:345px;
	position:absolute;
	left:126px;
	top:1499px;
	background-image:url(images/image_23.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e48_37 { 
	width:575px;
	height:431px;
	position:absolute;
	left:837px;
	top:1965px;
	background-image:url(images/image_24.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e48_41 { 
	width:518px;
	height:388px;
	position:absolute;
	left:126px;
	top:2547px;
	background-image:url(images/image_25.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e48_46 { 
	width:576px;
	height:432px;
	position:absolute;
	left:836px;
	top:3097px;
	background-image:url(images/image_26.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e46_14 { 
	width:561px;
	height:389px;
	position:absolute;
	left:829px;
	top:611px;
	background-image:url(images/image_22.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e48_50 { 
	width:1248px;
	height:408px;
	position:absolute;
	left:126px;
	top:81px;
	background-image:url(images/image_7.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e48_51 { 
	background-color:rgb(255, 183, 111);
	width:279px;
	height:64px;
	position:absolute;
	left:211px;
	top:386px;
	border-top-left-radius:38px;
	border-top-right-radius:38px;
	border-bottom-left-radius:38px;
	border-bottom-right-radius:38px;
}
.e48_52 { 
	background-color:rgb(255, 183, 111);
	width:279px;
	height:64px;
	position:absolute;
	left:1046px;
	top:379px;
	border-top-left-radius:38px;
	border-top-right-radius:38px;
	border-bottom-left-radius:38px;
	border-bottom-right-radius:38px;
}
.e48_55 { 
	color:rgba(255, 182.00000435113907, 111.00000098347664, 1);
	width:156px;
	height:59px;
	position:absolute;
	left:284px;
	top:391px;
	font-family:PT Serif;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e48_56 { 
	color:rgba(255, 182.00000435113907, 111.00000098347664, 1);
	width:118px;
	height:53px;
	position:absolute;
	left:1127px;
	top:382px;
	font-family:PT Serif;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
